.about-us {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 90px 0;
    background: #fff;
}

.pic {
    height: auto;
    width: 400px;
    border-radius: 12px;
}

.about {
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text {
    width: 540px;
}

.text h2 {
    color: #333;
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 10px;
}

.text h5 {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.text p {
    color: #333;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
}

.data {
    margin-top: 30px;
}

.hire {
    font-size: 18px;
    background: #4070f4;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    transition: 0.5s;
}

.hire:hover {
    background: #000;
}

.company-block .row {
    display: flex;
    padding: 15px 0;
}

.leadership-block .row {
    padding: 15px 0;
}
.company-block .order-2,
.leadership-block .order-2 {
    order: 2;
}

.align-items-center {
    align-items: center;
}

/* .leadership-list .row:nth-child(2) .col-md-4,
.leadership-list .row:nth-child(4) .col-md-4 {
    order: 2;
    text-align: right;
}

.leadership-list .row:nth-child(2) .col-md-8,
.leadership-list .row:nth-child(4) .col-md-8 {
    text-align: right;
} */

.leadership-block {
    margin-top: 15px !important;
}

.pt-4 {
    padding-top: 1.5rem !important;
}

.company h2 {
    font-weight: 600;
}

.mxh-auto {
    max-height: 250px;
    overflow-y: auto;
    padding-right: 10px;
}
.mxw-150 {
    max-height: 120px;
    padding-right: 10px;
}

.mxh-auto::-webkit-scrollbar {
    width: 6px;
    border-radius: 6px;
}

.mxh-auto::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 6px;
}

.mxh-auto::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 6px;
}

.wight-box {
    padding: 20px;
    border: solid 1px #d7d6d6;
    border-radius: 3px;
}
.otherproduct-links .wight-box li a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    padding: 3px 0;
    display: block;
}
.wight-box ol {
    padding-top: 8px;
}
article .row h2 {
    margin: 20px 0 10px 0;
    line-height: 28px;
}
.solution-details .small-panel span {
    float: none;
    top: 4px !important;
}
.solution-details .small-panel {
    margin-bottom: 20px;
}
.solution-details .small-panel .panel-point {
   float: none !important;
   margin-left: 0 !important;
   width: 100% !important;
}
.solution-details .slsmall-point {
    display: none !important;
}